/* Ortak Button Stilleri */
.primary-button,
.primary-button-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  height: clamp(40px, 5vh, 52px);
  width: clamp(140px, 20vw, 211px);

  padding: 0;
  background: black;
  color: white;

  font-family: "Biondi Sans", sans-serif;
  font-weight: 300;
  font-size: clamp(16px, 2vw, 24px);

  border: none;
  border-radius: 0;
  /* tasarıma göre istersen 6px yapabilirsin */
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  transition: all 0.3s ease;
}

/* Hover efekti */
.primary-button:hover,
.primary-button-link:hover {
  background-color: #333;
  color: white;
}

/* Responsive uyum */
@media (max-width: 768px) {

  .primary-button,
  .primary-button-link {
    width: 100%;
    max-width: 100%;
    height: 40px;
    font-size: 16px;
  }
}