.primary-button {
  height: 60px;
  width: 191px;
  padding: 0;
  background: white;
  color: black;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Biondi Sans", sans-serif;
  font-size: 24px;
}

.primary-button:hover {
  background-color: #eee;
}
