.hero-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-slider-track {
  display: flex;
  height: 100%;
  transition: transform 0.6s ease-in-out;
}

.hero-slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* === OVERLAY === */
.hero-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  z-index: 10;
  padding-left: 11.72vw;
  padding-bottom: clamp(32px, 15vh, 222px);
  max-width: 90%;
}

/* === BAŞLIK === */
.hero-title {
  font-size: clamp(32px, 5vw, 64px);
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: clamp(24px, 6vh, 40px);
}

/* === BUTON === */
.hero-button {
  padding: clamp(8px, 1.5vw, 12px) clamp(16px, 3vw, 24px);
  background: white;
  color: black;
  font-weight: 600;
  font-size: clamp(14px, 1.2vw, 16px);
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-button:hover {
  background-color: #eee;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: clamp(32px, 5vw, 64px);
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: clamp(24px, 6vh, 40px);

    width: fit-content;
    /* kendi genişliği kadar */
    margin: 0 auto;
    /* yatayda ortala */
    text-align: center;
    /* birden fazla satır olursa ortala */
  }


}