@font-face {
  font-family: 'Encode Sans Expanded';
  src: url('../assets/fonts/Encode-Sans-Expanded/EncodeSansExpanded-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Encode Sans Expanded';
  src: url('../assets/fonts/Encode-Sans-Expanded/EncodeSansExpanded-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Encode Sans Expanded';
  src: url('../assets/fonts/Encode-Sans-Expanded/EncodeSansExpanded-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Encode Sans Expanded';
  src: url('../assets/fonts/Encode-Sans-Expanded/EncodeSansExpanded-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Encode Sans Expanded';
  src: url('../assets/fonts/Encode-Sans-Expanded/EncodeSansExpanded-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Encode Sans Expanded';
  src: url('../assets/fonts/Encode-Sans-Expanded/EncodeSansExpanded-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Encode Sans Expanded';
  src: url('../assets/fonts/Encode-Sans-Expanded/EncodeSansExpanded-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Encode Sans Expanded';
  src: url('../assets/fonts/Encode-Sans-Expanded/EncodeSansExpanded-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Encode Sans Expanded';
  src: url('../assets/fonts/Encode-Sans-Expanded/EncodeSansExpanded-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
